.groot {
    text-align: center;
}
.medium {
    text-align: center;
    font-size: larger;
}
.social li{
    list-style: none;
}
.social{
    display: flex;
  justify-content: space-around;
  width: 50%;
}
.socialdiv{
    display: flex;
  justify-content: space-around;
  align-items: center;
}